.todos {
    padding: 1px 30px 40px 30px;
    margin: auto;
    width: 50%;
    background-color: #2b364a;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.1);
}
.todos form {
    text-align: center;
    margin: auto;
    justify-content: center;
}
form input[type='text'] {
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
    background-color: #3f4759;
    border: none;
    height: 50px;
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    width: 400px;
    color: white;
}
form input[type='text']:focus {
    outline: none;
}
form input[type='submit']:hover {
    cursor: pointer;
    background-color: #fc588b;
    transition: ease 0.5s;
    transform: scale(1.05);
}
.todo {
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.1);
    margin: auto;
    width: 90%;
    display: flex;
    padding: 10px 5px 10px 15px;
    background-color: #3f4759;
    font-size: 24px;
    color: #fff;
    height: 60px;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.todo:hover {
    box-shadow: 0px 5px 15px 5px rgba(254, 72, 128,0.5);
    transition: ease 0.5s;
    transform: scale(1.05);
    cursor: pointer;
    border: 2px solid #fe4880;
}
.todo:first-child {
    margin-top: 50px;
}
.todo:nth-child(even) {
    margin-top: 20px;
    background-color: #343e4f;
}
.todo .id {
    color: #fe4880;
    flex: 1 1 50px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}
.todo .content {
    flex: 1 1 100%;
}
.todo.done .content {
    text-decoration: line-through;
    text-decoration-color: #fe4880;
}
.content {
    font-family: 'Comfortaa', cursive;
}
.todo button {
    color: #fe4880;
    border-radius: 10px;
    padding: 10px 20px;
    background: none;
    border: 2px solid #fe4880;
    font-family: 'Comfortaa', cursive;
}
.todo button:hover {
    border-radius: 10px;
    border: none;
    background-color: #fe4880;
    color: white;
    font-size: 28px;
    transform:scale(1.1);
    transition: ease 0.5s;
}
.todo-input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    appearance: none;
    border: none;
    background-color: #f3f3f3;
    margin-top: 15px;
    font-size: 20px;
    outline: none;
}
.todo-submit {
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    display: block;
    width: 100%;
    max-width: 200px;
    appearance: none;
    border: none;
    outline: none;
    background: none;

    background-color: #fe4880;
    color: #fff;
    margin: 15px auto;

    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
}